body {
	background: white;
}

nav.nav-container {
	display: block;
	position: relative;
	background: rgba(50, 50, 50, 1);
	text-align: center;
}

.nav-item {
	display: inline-block;
	width: 8em;
	padding: 1rem 1rem;
	text-decoration: none;
	color: white;
	font-size: 16pt;
	font-weight: bold;
}
.nav-item:hover {
	background: rgba(150, 150, 150, 1);
	color: black;
}

.footer {
	background: rgba(50, 50, 50, 1);
	display: block;
	height: 5em;
}
.footer p {
	width: 80%;
	margin: auto;
}
